<%- include('includes/header') -%>

<ul>
    <% todos.forEach(todo=> { %>
    <li>
        <a href="todo/<%= todo.id %>">
            <%= todo.text %>
        </a>
    </li>
    <% }) %>
</ul>
<form method="POST" action="">
    <input type="text" name="todoText" placeholder="Schreibe ein Todo">
    <button type="submit">Submit</button>
</form>

<%- include('includes/footer') -%>